@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap");
$primary_font: "Chelsea Market", cursive;
$secondary_font: "Roboto", sans-serif;
$tertiary_font: "Inter", sans-serif;
